*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo-container{
    display: flex;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-link{
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
    margin: 0px 10px;
}
 
.presentation{
    display: flex;
    width: 90%;
    min-height: 80vh;
    margin: auto;
    align-items: center;
    background: #ef9898;
}

.introduction{
    flex: 1;
}

.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color: #587772
}

.cover{
    flex: 1;
}

.cover img{
    height: 60vh;
}

.article{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.details{
    display: flex;
    background: rgba(168, 168, 168, 0.993);
}

.front-text{
    background: rgba(168, 168, 168, 0.993);
    text-align: center;
    font-size: 30px;
}

p{
    padding: 30px;
}

.details gr{
}

.movie{
    margin: 10px;
    flex: 1;
    background: rgb(10, 8, 8);
}

.explanation{
    margin: 10px;
    flex: 2;
    text-align: left;
}

.article prof{
    background: rgb(248, 248, 139);
}

.article py{
    background: rgb(63, 107, 250);
}

.article dj{
    background:rgb(91, 250, 91);
}

.article js{
    background: rgb(253, 168, 88);
}